:root {
  --font-code     : var(--font-monospace);
  --font-monospace: "Source Code Pro", monospace;
  --font-sans     : "Figtree", sans-serif;
  --font-serif    : "Fraunces", serif;
}

:root {
  --type-size  : 1rem;
  --type-size-1: 4.209rem;
  --type-size-2: 3.157rem;
  --type-size-3: 2.369rem;
  --type-size-4: 1.777rem;
  --type-size-5: 1.333rem;
  --type-size-6: 1rem;
  --type-size-7: 0.75rem;
  --type-size-8: 0.563rem;
  --type-size-9: 0.422rem;

  --content-width: 75ch;
  --page-width: 130ch;
}

:root {
  --d-contrast     : 0 0% 10%;
  --d-default      : 0 0% 30%;
  --d-subtle       : 0 0% 60%;
  --d-non-essential: 0 0% 70%;

  --l-contrast     : 0 0% 100%;
  --l-default      : 0 0% 90%;
  --l-subtle       : 0 0% 70%;
  --l-non-essential: 0 0% 50%;
}

:root {
  --l-primary-100  : 335 70% 94%;
  --l-primary-300  : 335 70% 84%;
  --l-primary-500  : 335 70% 54%;
  --l-primary-700  : 335 70% 44%;
  --l-primary-900  : 335 70% 24%;

  --d-primary-900  : 335 70% 94%;
  --d-primary-700  : 335 70% 84%;
  --d-primary-500  : 335 70% 54%;
  --d-primary-300  : 335 70% 34%;
  --d-primary-100  : 335 70% 24%;

  --l-secondary-100: 38 90% 94%;
  --l-secondary-300: 38 90% 84%;
  --l-secondary-500: 38 90% 54%;
  --l-secondary-700: 38 90% 44%;
  --l-secondary-900: 38 90% 24%;
  
  --d-secondary-900: 38 70% 94%;
  --d-secondary-700: 38 90% 84%;
  --d-secondary-500: 38 90% 54%;
  --d-secondary-300: 38 90% 34%;
  --d-secondary-100: 38 50% 24%;
}

:root {
  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 8px;
  --radius-4: 10px;
  --radius-5: 12px;
}

:root {
  --space-none: 0;
  --space-auto: auto;
  --space-xxxl: 4rem;
  --space-xxl : 3rem;
  --space-xl  : 2rem;
  --space-l   : 1.5rem;
  --space     : 1rem;
  --space-m   : var(--space);
  --space-s   : 0.75rem;
  --space-xs  : 0.5rem;
  --space-xxs : 0.25rem;
  --space-xxxs: 0.1rem;
}

:root {
  --focus-ring-size : 3px;
  --focus-ring-color: var(--primary-700);
}