:root {
  --font-code     : var(--font-monospace);
  --font-monospace: "Source Code Pro", monospace;
  --font-sans     : "Figtree", sans-serif;
  --font-serif    : "Fraunces", serif;
}

:root {
  --type-size  : 1rem;
  --type-size-1: 4.209rem;
  --type-size-2: 3.157rem;
  --type-size-3: 2.369rem;
  --type-size-4: 1.777rem;
  --type-size-5: 1.333rem;
  --type-size-6: 1rem;
  --type-size-7: 0.75rem;
  --type-size-8: 0.563rem;
  --type-size-9: 0.422rem;

  --content-width: 65ch;
}

:root {
  --d-contrast     : 0 0% 10%;
  --d-default      : 0 0% 30%;
  --d-subtle       : 0 0% 60%;
  --d-non-essential: 0 0% 70%;

  --l-contrast     : 0 0% 100%;
  --l-default      : 0 0% 90%;
  --l-subtle       : 0 0% 70%;
  --l-non-essential: 0 0% 50%;
}

:root {
  --l-primary-100: 335 100% 94%;
  --l-primary-300: 335 100% 74%;
  --l-primary-500: 335 100% 54%;
  --l-primary-700: 335 100% 34%;
  --l-primary-900: 335 100% 24%;

  --d-primary-900: 335 100% 94%;
  --d-primary-700: 335 100% 74%;
  --d-primary-500: 335 100% 54%;
  --d-primary-300: 335 100% 34%;
  --d-primary-100: 335 100% 24%;
}