@mixin light-scheme() {
  --fg-contrast     : var(--d-contrast);
  --fg-default      : var(--d-default);
  --fg-subtle       : var(--d-subtle);
  --fg-non-essential: var(--d-non-essential);

  --bg-contrast     : var(--l-contrast);
  --bg-default      : var(--l-default);
  --bg-subtle       : var(--l-subtle);
  --bg-non-essential: var(--l-non-essential);

  --primary-100: var(--l-primary-100);
  --primary-300: var(--l-primary-300);
  --primary-500: var(--l-primary-500);
  --primary-700: var(--l-primary-700);
  --primary-900: var(--l-primary-900);
}

@mixin dark-scheme() {
  --fg-contrast     : var(--l-contrast);
  --fg-default      : var(--l-default);
  --fg-subtle       : var(--l-subtle);
  --fg-non-essential: var(--l-non-essential);

  --bg-contrast     : var(--d-contrast);
  --bg-default      : var(--d-default);
  --bg-subtle       : var(--d-subtle);
  --bg-non-essential: var(--d-non-essential);

  --primary-100: var(--d-primary-100);
  --primary-300: var(--d-primary-300);
  --primary-500: var(--d-primary-500);
  --primary-700: var(--d-primary-700);
  --primary-900: var(--d-primary-900);
}

.theme-default,
.theme-light {
  @include light-scheme();
}

.theme-dark {
  @include dark-scheme();
}

.theme-default {
  @media (prefers-color-scheme: dark) {
    @include dark-scheme();
  }
}