.banner {

  &--video {
    border-radius: var(--radius-3);
    display      : grid;
    height       : 80vh;
    margin-bottom: var(--space);
    overflow     : hidden;
    position     : relative;

    .banner {

      &__image,
      &__header {
        grid-column: 1/2;
        grid-row   : 1/2;
      }

      &__image {
        background-color: hsl(var(--d-contrast));
        position        : relative;

        img {
          background-color: hsl(var(--d-contrast));
          filter          : brightness(50%);
          height          : 100%;
          inset           : 0;
          object-fit      : cover;
          object-position : center;
          position        : absolute;
          width           : 100%;
        }

        &::after {
          content         : '';
          background-image: radial-gradient(circle at bottom left, black 35%, transparent);
          inset           : 0;
          position        : absolute;
        }
      }

      &__header {
        @extend .theme-light;

        align-items  : start;
        align-self   : end;
        font-family  : var(--font-serif);
        justify-self : start;
        margin-inline: 0;
        padding      : clamp(var(--space-l), 3vw, var(--space-xxl));
        z-index      : 2;

        @media (max-width: 980px) {
          width: 75%;
        }

        .new.badge {
          position: absolute;
          z-index : 3;
          top     : clamp(var(--space-l), 3vw, var(--space-xxl));
        }
      }

      &__title {
        font-size: clamp(var(--type-size-4), 5vw, var(--type-size-1));
        color    : hsl(var(--l-contrast));
        margin   : 0;
      }

      &__subtitle {
        color      : hsl(var(--fg-subtle));
        font-family: var(--font-sans);
        font-size  : var(--type-size-5);
      }

      &__description {
        margin   : 0;
        color    : hsl(var(--l-subtle));
        font-size: clamp(var(--type-size-6), 3vw, var(--type-size-4));
      }
    }
  }

  &--youtube-cover {
    border-radius   : var(--radius-5);
    display         : grid;
    margin-block-end: var(--space-xxxl);
    min-height      : 75vh;
    overflow        : hidden;
    place-items     : center;

    .banner {

      &__image,
      &__header {
        grid-column: 1/2;
        grid-row   : 1/2;
      }

      &__image {
        height  : 100%;
        overflow: hidden;
        position: relative;
        width   : 100%;
        z-index : -1;

        img,
        svg,
        div {
          inset   : 0;
          position: absolute;
        }
      }

      &__header {
        align-items     : center;
        background-color: hsl(var(--warning-100));
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        padding-block   : var(--space-l);
        padding-inline  : var(--space-xl);
        width           : 100%;
      }

      &__title {
        font-family            : var(--font-serif);
        font-variation-settings: 'wght'500;
        font-size              : clamp(var(--type-size-4), 3vw, var(--type-size-1));
        color                  : hsl(var(--fg-contrast));
        margin                 : 0;
      }

      &__subtitle {
        margin   : 0;
        color    : hsl(var(--warning-900));
        font-size: clamp(var(--type-size-6), 1vw + 1rem, var(--type-size-5));
      }
    }

    #banner-image {
      background-image: linear-gradient(to right,
          hsl(var(--primary-700)) 14.88%,
          hsl(var(--primary-500)) 14.88%,
          hsl(var(--primary-500)) 29.76%,
          hsl(var(--primary-300)) 29.76%,
          hsl(var(--primary-300)) 44.64%,
          hsl(var(--secondary-300)) 44.64%,
          hsl(var(--secondary-300)) 59.52%,
          hsl(var(--secondary-500)) 59.52%,
          hsl(var(--secondary-500)) 74.40%,
          hsl(var(--secondary-700)) 74.40%,
          hsl(var(--secondary-700)));
    }
  }

  &--announcement {
    align-items     : center;
    background-color: var(--bg-announcement, transparent);
    border          : 1px solid var(--fg-announcement, hsl(var(--fg-non-essential)));
    border-radius   : var(--radius-4);
    display         : flex;
    flex-wrap       : wrap;
    gap             : 1ch;
    padding         : var(--space);

    &.info {
      --fg-announcement: hsl(var(--info-500) / 25%);
      --bg-announcement: hsl(var(--info-500) / 25%);
    }

    &.primary {
      --fg-announcement: hsl(var(--primary-300) / 25%);
      --bg-announcement: hsl(var(--primary-300) / 25%);
    }

    .banner {
      &__title {
        margin: 0;
        flex  : 1;
      }

      &__actions {
        display        : flex;
        gap            : 1ch;
        align-items    : center;
        justify-content: end;
      }
    }
  }

  &--share {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    text-align     : center;
    gap            : var(--space);
    padding-block  : var(--space-xxl);

    .banner {
      &__title {
        font-size              : clamp(var(--type-size-4), 3vw, var(--type-size-3));
        font-family            : var(--font-serif);
        font-variation-settings: 'wght'400, 'SOFT'100, 'WONK'100;
        margin                 : 0;
      }

      &__content {
        font-size: var(--type-size-5);
      }

      &__notice {
        background-color: hsl(var(--warning-300) / 25%);
        color           : hsl(var(--warning-900));
        width           : fit-content;
        padding         : var(--space-xxs) var(--space-s);
        margin-inline   : auto;
        font-size       : var(--type-size-5);
        border-radius   : var(--radius-2);

        &:empty {
          display: none;
        }
      }
    }

    button[data-share]:not([data-share-shown]) {
      display: none;
    }
  }
}