.breadcrumb {
  &__list {
    margin          : 0;
    margin-block-end: var(--space);
    padding         : 0;
    list-style      : none;
    display         : flex;
    flex-wrap       : wrap;
    column-gap      : 1ch;

    &-item {
      display    : flex;
      gap        : inherit;
      align-items: center;

      &:not(:last-child)::after {
        content          : "";
        --chevron-size   : 0.5ch;
        border           : var(--chevron-size) solid transparent;
        border-left-color: currentColor;
        border-right     : 0;
      }
    }
  }

  &__link {
    &:not([href]) {
      font-weight            : bold;
      font-variation-settings: 'wght'600;
      padding                : var(--space-xxxs) var(--space-xs);
    }

    &[href] {
      @include hoverable;

      background-color       : transparent;
      border-radius          : var(--radius-1);
      color                  : hsl(var(--fg-default));
      font-family            : var(--font-sans);
      font-size              : var(--type-size-6);
      font-variation-settings: 'wght'700;
      font-weight            : bold;
      overflow               : hidden;
      padding                : var(--space-xxxs) var(--space-xs);
      position               : relative;
    }
  }
}