.button {
  background-color       : hsl(var(--fg-contrast) / 5%);
  border                 : none;
  border-radius          : var(--radius-2);
  color                  : hsl(var(--primary-900));
  cursor                 : pointer;
  display                : inline-flex;
  font-family            : var(--font-sans);
  font-size              : var(--type-size-6);
  font-variation-settings: 'wght'600;
  font-weight            : bold;
  justify-content        : center;
  outline                : 3px solid hsl(var(--primary-700) / 0);
  padding                : var(--space-xs) var(--space-m);
  text-align             : center;
  text-decoration        : none !important;
  text-transform         : lowercase;
  transition             : outline 200ms, outline-offset 200ms, background-color 200ms;

  &:hover {
    background-color: hsl(var(--primary-300) / 40%);
  }

  &:focus-visible {
    outline-color : hsl(var(--primary-700) / 1);
    outline-offset: var(--radius-1);

    &:active {
      outline-offset: 0;
      transition    : outline 200ms, outline-offset 50ms, background-color 200ms;
    }
  }

  &.primary {
    background-color: hsl(var(--primary-500));
    color           : hsl(var(--l-contrast));

    &:hover {
      background-color: hsl(var(--primary-700));
      color           : hsl(var(--primary-100));
    }
  }
}

.button-list {
  margin    : 0;
  padding   : 0;
  list-style: none;
  display   : flex;
  gap       : 1ch;
  flex-wrap : wrap;
}