.navigation {
  align-items     : center;
  background-color: hsl(var(--bg-default));
  border-radius   : var(--radius-2);
  display         : flex;
  gap             : var(--space);
  margin-block    : 2ch;
  padding-block   : var(--space-xxs);
  padding-inline  : var(--space-xs);
  position        : sticky;
  top             : 1ch;
  transition      : box-shadow 200ms;
  max-width       : var(--page-width);
  margin-inline   : auto;
  width           : 90%;
  transition      : max-width 300ms, box-shadow 200ms;
  z-index         : 999;

  @media (max-width: 980px) {
    height: 4.5ch;
  }

  &.attached {
    box-shadow:
      0 1px 1px hsl(var(--d-contrast) / 0.05),
      0 2px 2px hsl(var(--d-contrast) / 0.05),
      0 4px 4px hsl(var(--d-contrast) / 0.05),
      0 8px 8px hsl(var(--d-contrast) / 0.05),
      0 16px 16px hsl(var(--d-contrast) / 0.075),
      0 32px 32px hsl(var(--d-contrast) / 0.075),
      0 64px 64px hsl(var(--d-contrast) / 0.075);

    @media (prefers-reduced-motion: no-preference) {
      max-width: min(calc((var(--page-width) / 4) * 3), 100%);

      .navigation {
        &__logo {
          .logo {
            &> :not(.logo__image) {
              display: none;
            }
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    gap    : 0;
    margin : 0;

    &--supplementary {
      width              : min-content;
      margin-inline-start: auto;
    }

    &-item {
      position: relative;
    }
  }

  &__menu,
  &__link {
    @include button;
    @include hoverable;

    background-color: transparent;
    color           : hsl(var(--primary-700));
    height          : 100%;
    overflow        : hidden;
    position        : relative;

    &:hover {
      background-color: hsl(var(--primary-100) / 10%);
    }

    @media (min-width: 980px) {
      padding-block: var(--space-xxs);
    }
  }

  &__menu {
    display: none;
  }
}

@supports (backdrop-filter: blur(10px)) {

  .navigation {
    backdrop-filter: blur(10px);
  }

  .theme-dark {

    .navigation.attached {
      background-color: hsl(var(--bg-default)/75%);
      filter          : brightness(125%);
    }
  }

  .theme-light,
  .theme-default {

    .navigation.attached {
      background-color: hsl(var(--bg-default)/75%);
      filter          : brightness(125%);
    }
  }

  .theme-default {
    @media (prefers-color-scheme: dark) {

      .navigation.attached {
        background-color: hsl(var(--bg-default)/75%);
        filter          : brightness(125%);
      }
    }
  }
}

@media (max-width: 980px) {
  .navigation {
    padding-inline: var(--space-xs);
    border-radius : var(--radius-3);

    &__menu {
      display: flex;
      height : auto;
    }

    &__list {
      &--main {
        display: none;
      }

      &--supplementary {
        margin-inline-start: auto;
        width              : min-content;
      }
    }

    &__logo {
      margin-inline: auto;
    }
  }
}

@media (max-width: 620px) {
  .navigation {
    gap: 0.5ch;

    &__logo {
      margin-inline: 0;
    }

    &__list {
      &--supplementary {
        margin-inline-start: auto;
        width              : min-content;
      }
    }
  }
}

@media (max-width: 460px) {
  .navigation {
    gap: 0.5ch;

    &__logo {
      margin-inline: 0;

      .logo {
        &> :not(.logo__image) {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 260px) {
  .navigation {
    &__list--supplementary {
      display: none;
    }
  }
}

.navigation__popup {
  position        : absolute;
  width           : max-content;
  right           : 0;
  background-color: hsl(var(--secondary-100));
  padding         : var(--space-xs);
  border-radius   : var(--radius-3);
  top             : calc(100% + var(--space));
  display         : flex;
  flex-direction  : column;
  gap             : 1ch;

  box-shadow: 0 1px 1px hsl(var(--d-contrast) / 0.05),
    0 2px 2px hsl(var(--d-contrast) / 0.05),
    0 4px 4px hsl(var(--d-contrast) / 0.05),
    0 8px 8px hsl(var(--d-contrast) / 0.05),
    0 16px 16px hsl(var(--d-contrast) / 0.075),
    0 32px 32px hsl(var(--d-contrast) / 0.075),
    0 64px 64px hsl(var(--d-contrast) / 0.075);


}