.skip-link {
  @include button;
  @extend .primary;

  left      : 50%;
  position  : fixed;
  top       : 0;
  transition: translate 200ms;
  translate : -50% -120%;
  z-index   : 9999;

  &:focus-visible {
    translate: -50% var(--space-l);
  }
}