---
title: Position
description: Ino-override nito ang normal na layout ng isang element. Sa maraming kaso, binibigyan tayo nito ng ability na sa bihin sa briowser ang exact position ng isang element gamit ang x at y coordinates.
tags:
  - CSS
---

<div class="guide__demo">
This is a demo from inside the collection
</div>

<div class="guide__details">
  {% renderTemplate "md" %}
## This is a tutorial from inside the collection
  {% endrenderTemplate %}
</div>