{% set post = collections.videos | reverse | first %}
{% set latestVideo = post.data %}
<section class="banner banner--video">
  <div class="banner__image">
    {% set defaultImageSource = latestVideo.images.defaultImageSource %}
    {% set baseFolder = latestVideo.images.baseFolder %}
    {% set identifier = latestVideo.images.identifier %}
    {% set alt = "" %}
    {% set defaultImageClass = "" %}
    {% set width = "1920" %}
    {% set height = "1080" %}
    {% include "ui/picture.njk" %}
  </div>
  <div class="banner__header">
    <h2 class="banner__title">{{ latestVideo.title | safe }}</h2>
    <p class="banner__subtitle">{{ latestVideo.description | safe }}</p>
    <div class="cluster gap-xxs m-top--l">
      <a class="primary button" href="{{ latestVideo.link.url }}">{{ latestVideo.link.label }}</a>
      <a href="/videos/" class="button theme-dark">Lahat ng videos</a>
    </div>
  </div>
</section>