{% set post = collections.videos | reverse | first %}
{% set latestVideo = post.data %}
<section class="banner banner--video">
  <div class="banner__image">
    {% set postType = "videos" %}
    {% set sizes = latestVideo.cover.sizes %}
    {% set formats = latestVideo.cover.formats %}
    {% set folder = latestVideo.cover.folder %}
    {% set filename = latestVideo.cover.filename %}
    {% set defaultImageClass = "" %}
    {% set alt = "" %}
    {% set width = 1920 %}
    {% set height = 1080 %}
    {% include "ui/cdn-picture.njk" %}
  </div>
  <div class="banner__header">
    <span class="new badge theme-dark">Latest update</span>
    {% if latestVideo.banner.title and latestVideo.banner.subtitle %}
      <span class="banner__subtitle">{{ latestVideo.banner.subtitle | safe }}</span>
      <h2 class="banner__title">{{ latestVideo.banner.title | safe }}</h2>
    {% else  %}
      <h2 class="banner__title">{{ latestVideo.title | safe }}</h2>
    {% endif %}
    <p class="banner__description">{{ latestVideo.description | safe }}</p>
    <div class="cluster gap-xxs m-top--l">
      <a class="primary button" href="{{ latestVideo.link.url }}" target="_blank" rel="noopener">{{ latestVideo.link.label }}</a>
      <a href="/videos/" class="button theme-dark">Lahat ng videos</a>
    </div>
  </div>
</section>