<div class="banner banner--warning">
  <p>Ginagawa pa ang website na ito. Bumalik sa <a href="https://antaresph.dev">stable version ng Antares Programming</a> para sa mas maayos na experience.</p>
</div>