<section class="banner banner--youtube-cover">
  <div class="banner__image">
    <div id="banner-image"></div>
  </div>
  <div class="banner__header">
    <h2 class="banner__title">Ang Antares Program&shy;ming sa Youtube</h2>
    <p class="banner__subtitle">Mag-subscribe sa Youtube channel para maging updated sa mga bagong video!</p>
    <div class="cluster gap-xxs m-top--l">
      <a class="primary button" href="{{ site.contact.youtube.url }}" target="_blank" rel="noopener">Mag-subscribe</a>
      <a href="/videos/" class="button">Lahat ng videos</a>
    </div>
  </div>
</section>