<article class="guide__code__entry" id="code-5">
  <div class="guide__headerbar">
    <a class="guide__navigation previous" href="#code-4">
      <span class="sr-only">Previous</span>
      {{ "chevron-left" | icon | safe }}
    </a>
    <h2 class="guide__heading">Fixed Position</h2>
    <a class="guide__navigation next">
      <span class="sr-only">Next</span>
      {{ "chevron-right" | icon | safe }}
    </a>
  </div>
  <p>Kapag fixed ang position ng isang element, nakadepende ang coordinate system nito sa viewport o browser window, kahit pa may mga parent ito na hindi static ang position.</p>
  <div class="code-sample">
    {% renderTemplate "md" %}
```html
<div class="ancestor">
<div class="container">
<div class="element"></div>
</div>
</div>
```
```css
.ancestor {
position: relative;
}

.container {
position: absolute;
top: 1rem;
left: 1rem;
}

.element {
position: fixed;
top: 50px;
left: 50px;
}
```
  {% endrenderTemplate %}
  </div>
</article>