<article class="card card--article" aria-labelledby="card--{{ post.data.title | slugify }}">
  <div class="card__image">
    {% if post.data.images.identifier != null %}
      {% set defaultImageSource = post.data.image.src %}
      {% set baseFolder = post.data.images.baseFolder %}
      {% set identifier = post.data.images.identifier %}
      {% set alt = "" %}
      {% set defaultImageClass = "" %}
      {% set width = "1280" %}
      {% set height = "1012" %}
      {% include "ui/picture.njk" %}
    {% else %}
      <img src="{{ post.data.image.src }}" alt="" width="1280" height="1012">
    {% endif %}
  </div>
  <div class="card__header">
    <h{{ headingLevel if headingLevel != null else 3 }} class="card__title" id="card--{{ post.data.title | slugify }}">
      <a class="card__title-link" href="{{ post.url }}">{{ post.data.title | safe }}</a>
    </h{{headingLevel if headingLevel != null else 3}}>
    <p class="card__subtitle">{{ post.data.description | safe }}</p>
    <div class="card__metadata">
      <time class="card__pubdate">{{ post.date | humanReadableDate }}</time>
      <span>Read more</span>
    </div>
  </div>
</article>