
<article class="card card--{{ cardType if cardType else "article" }}" aria-labelledby="card--{{ post.data.title | slugify }}">
  <div class="card__image">
    {% set article = post.data %}
    {% set postType = 'posts' %}
    {% set sizes = article.cover.sizes %}
    {% set formats = article.cover.formats %}
    {% set folder = article.cover.folder %}
    {% set filename = article.cover.filename %}
    {% set defaultImageClass = "" %}
    {% set alt = "" %}
    {% set width = 1280 %}
    {% set height = 1012 %}
    {% include "ui/cdn-picture.njk" %}
  </div>
  <div class="card__header">
    <h{{ headingLevel if headingLevel != null else 3 }} class="card__title" id="card--{{ post.data.title | slugify }}">
      {% set externalUrl = post.data.link.url %}
      {% set newTab %}target="_blank" rel="noopener"{% endset %}
      <a class="card__title-link" href="{{ externalUrl if externalUrl else post.url }}" {{ newTab if externalUrl }}>{{ post.data.title | safe }}</a>
    </h{{headingLevel if headingLevel != null else 3}}>
    <p class="card__subtitle">{{ post.data.description | safe }}</p>
    <div class="card__metadata">
      <time class="card__pubdate">{{ post.date | humanReadableDate }}</time>
      <span>Read more</span>
    </div>
  </div>
</article>