<div class="logo {{ "has-tagline" if hasTagline }} {{ "image-only" if imageOnly }} {{ "text-only" if textOnly }}">
  <img src="/assets/images/root/logo-pride-2023.svg" height="1080" width="1080" alt="Antares Programming logo" class="logo__image">
  <span class="logo__type">
    <span class="weight--700">antares</span>
    <span>programming</span>
  </span>
  <span class="logo__tagline">For Filipino web developers</span>
</div>