<nav class="navigation" aria-label="Primary navigation" data-navbar-animations>
  <button class="navigation__menu">
    {{ "menu" | icon | safe }}
    <span class="sr-only">Navigation menu</span>
  </button>
  <a href="/" class="navigation__logo">
    {% include "ui/logo.njk" %}
  </a>
  <ul class="navigation__list navigation__list--main">
    {% for item in navigation %}
      <li class="navigation__list-item">
        <a href="{{ item.url }}" class="navigation__link">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="navigation__list navigation__list--supplementary">
    <li class="navigation__list-item">
      <button class="navigation__link">
        {{ "search" | icon | safe }}
        <span class="sr-only">Search</span>
      </button>
    </li>
    <li class="navigation__list-item">
      <button class="navigation__link">
        {{ "moon" | icon | safe }}
        <span class="sr-only">Select theme</span>
      </button>
      <form action="#!" name="color-scheme" class="navigation__popup form">
        <fieldset class="fieldset fieldset--inline">
          <legend>Select color scheme</legend>
          <div class="form-control">
            <input type="radio" name="color-scheme" id="theme-light">
            <label for="theme-light">Light</label>
          </div>
          <div class="form-control">
            <input type="radio" name="color-scheme" id="theme-dark">
            <label for="theme-dark">Dark</label>
          </div>
          <div class="form-control">
            <input type="radio" name="color-scheme" id="theme-default" checked>
            <label for="theme-default">Follow system theme</label>
          </div>
        </fieldset>
        <button class="primary button">Save</button>
      </form>
    </li>
    <li class="navigation__list-item">
      <button class="navigation__link">
        {{ "rss" | icon | safe }}
        <span class="sr-only">RSS feeds</span>
      </button>
    </li>
  </ul>
</nav>