<nav class="navigation" aria-label="Primary navigation">
  <div class="navigation__logo">
    {% include "ui/logo.njk" %}
  </div>
  <ul class="navigation__list">
    {% for item in navigation %}
      <li class="navigation__list-item">
        <a href="{{ item.url }}" class="navigation__link">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="navigation__list" style="margin-inline-start: auto">
    <li>
      <button class="navigation__link">
        {{ "search" | icon | safe }}
        <span class="sr-only">Search</span>
      </button>
    </li>
    <li>
      <button class="navigation__link">
        {{ "moon" | icon | safe }}
        <span class="sr-only">Select theme</span>
      </button>
    </li>
    <li>
      <button class="navigation__link">
        {{ "rss" | icon | safe }}
        <span class="sr-only">RSS feeds</span>
      </button>
    </li>
  </ul>
</nav>