<nav class="navigation" aria-label="Primary navigation" data-navbar-animations>
  <button class="navigation__menu">
    {{ "menu" | icon | safe }}
    <span class="sr-only">Navigation menu</span>
  </button>
  <a href="/" class="navigation__logo">
    {% include "ui/logo.njk" %}
  </a>
  <ul class="navigation__list navigation__list--main">
    {% for item in navigation %}
      {% if not item.hidden %}
        <li class="navigation__list-item">
          <a href="{{ item.url }}" class="navigation__link">{{item.text}}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="navigation__list navigation__list--supplementary">
    <li class="navigation__list-item">
      <button class="icon-only navigation__link" data-dialog="dlg-search">
        {{ "search" | icon | safe }}
        <span class="sr-only">Search</span>
      </button>
    </li>
    <li class="navigation__list-item">
      <button class="icon-only navigation__link" data-toggle="form-color-scheme">
        {{ "moon" | icon | safe }}
        <span class="sr-only">Select theme</span>
      </button>
      <form action="#!" name="color-scheme" id="form-color-scheme" class="navigation__popup form" hidden>
        <fieldset class="fieldset fieldset--inline">
          <legend>Select color scheme</legend>
          <div class="form-control">
            <input class="form-radio" type="radio" name="color-scheme" id="theme-light" value="light">
            <label class="form-label" for="theme-light">Light</label>
          </div>
          <div class="form-control">
            <input class="form-radio" type="radio" name="color-scheme" id="theme-dark" value="dark">
            <label class="form-label" for="theme-dark">Dark</label>
          </div>
          <div class="form-control">
            <input class="form-radio" type="radio" name="color-scheme" id="theme-default" value="default" checked>
            <label class="form-label" for="theme-default">Follow system theme</label>
          </div>
        </fieldset>
        <button class="primary button" style="width: 100%;">Save</button>
      </form>
    </li>
    <li class="navigation__list-item">
      <button class="icon-only navigation__link" data-toggle="form-rss-feeds">
        {{ "rss" | icon | safe }}
        <span class="sr-only">RSS feeds</span>
      </button>
      <ul class="navigation__popup navigation__list" id="form-rss-feeds" style="flex-direction: row" hidden>
        {% for rss in site.feeds | values %}
          <li class="navigation__list-item">
            <a href="{{ rss.url }}" class="navigation__link">{{ rss.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
<div data-navbar-attach-trigger=""></div>

{% include "modals/search.njk" %}