<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  <meta name="generator" content="Eleventy v2.0.0">
  {% include "head/seo.njk" %}
  {% include "head/stylesheets.njk" %}
</head>