<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js" crossorigin="anonymous"></script>
<script src="/assets/scripts/index.js" type="module"></script>

{% for item in scripts %}
  <script src="/assets/scripts/{{ item }}.js"></script>
{% endfor %}