<link rel="stylesheet" href="/assets/styles/styles.css">
<style>
  .banner {
    display: flex;
    flex-wrap: wrap;
    color: hsl(var(--warning-900));
    padding-block: var(--space-xs);
    text-align: center;
    padding-inline: 1rem;
  }

  .banner--warning {
    background-color: hsl(var(--warning-100));
  }

  .banner > * {
    margin-inline: auto;
  }
</style>