<!DOCTYPE html>
<html lang="{{ "tl" if lang == null else lang }}">
  {% include "head/head.njk" %}
  <body class="no-js theme-default">
    {# {% include "banners/under-construction.njk" %} #}
    {% include "ui/skip-link.njk" %}
    {% include "ui/navigation.njk" %}
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% include "ui/footer.njk" %}
    {% include "head/scripts.njk" %}
  </body>
</html>