<!DOCTYPE html>
<html lang="{{ lang }}">
  {% include "head/head.njk" %}
  <body class="no-js theme-default">
    {% include "ui/skip-link.njk" %}
    {% include "ui/navigation.njk" %}
    <main id="main">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>