---
layout: null
permalink: /api/v1/content.json
---
{
  "posts": [
    {% for post in collections.posts %}
      {
        "title": "{{ post.data.title | safe }}",
        "description": "{{ post.data.description | safe }}",
        "content": "{{ post.templateContent | striptags }}",
        "url": "{{ post.url }}"
      }{{ "," if not loop.last }}
    {% endfor %}
  ]
}