---
title: 'Mga Article - Antares Programming'
pagination:
  data: collections.posts
  size: 10
  reverse: true
permalink: /articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---
<section class="section h-feed" aria-labelledby="section--articles">
  <header class="section__header">
    <hgroup role="group">
      <h1 class="section__title p-name" id="section--articles">Articles</h1>
      <p class="section__subtitle">Magbasa.</p>
      <p class="section__description">Mga bagong technology. Mga balita. Mga tutorial. Maraming iba pa.</p>
    </hgroup>
  </header>
  <nav class="tag-scroller" aria-label="Tags">
    <ul class="tag-scroller__list">
      {% set tags = collections.tags | reverse %}
      {% for tag in tags %}
        <li class="tag-scroller__list-item">
          <a href="/articles/tag/{{ tag.data.title | slugify }}" class="tag">{{ tag.data.title | safe }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="section__body">
    {% set headingLevel = 2 %}
    <ol class="card-list card-list--articles">
      {% for post in pagination.items %}
        <li class="card-list__item">
          {% include "ui/article-card.njk" %}
        </li>
      {% endfor %}
    </ol>
  </div>
  <footer class="section__footer">
    <nav class="pagination">
      <ul class="pagination__list">
        {% if pagination.href.previous %}
          <li class="pagination__list-item">
            <a href="{{ pagination.href.previous }}" class="button">{{ "arrow-left" | icon | safe }} Previous</a>
          </li>
        {% endif %}
        {% for entry in pagination.pages %}
          <li class="pagination__list-item">
            {% set isCurrent = page.url == pagination.hrefs[loop.index0] %}
            <a class="pagination__link" href="{{ pagination.hrefs[loop.index0] }}" {{ 'aria-current=page' if isCurrent }}>{{ loop.index }}</a>
          </li>
        {% endfor %}
        {% if pagination.href.next %}
          <li class="pagination__list-item">
            <a href="{{ pagination.href.next }}" class="button">{{ "arrow-right" | icon | safe }} Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </footer>
</section>

<footer class="section m-block--xxxl" style="text-align: center">
  <div class="section__header">
    <hgroup role="group">
      <h2 class="section__subtitle h3">Huwag magpahuli sa mga bago naming content!</h2>
      <p>Maging updated kapag may bago kaming posts. Mag-subscribe sa aming RSS feed</p>
    </hgroup>
  </div>
  <div class="stack ai--center gap--s">
    <a href="{{ site.feeds.articles.url }}" class="primary button" target="blank" rel="noopener">
      {{ "rss" | icon | safe }}
      <span>RSS feed ng lahat ng articles</span>
    </a>
    <a href="https://rss.com/blog/how-do-rss-feeds-work/" rel="noopener" target="_blank">Paano gamitin ang RSS feeds?</a>
  </div>
</footer>