---
title: 'Antares Programming'
permalink: /
---
<h1 class="sr-only">{{ title | safe }}</h1>

<section class="section">
  <header class="section__header">
    <hgroup role="group">
      <h2 class="section__title">Articles</h2>
      <p class="section__subtitle">Magbasa.</p>
      <p class="section__description">Mga bagong technology. Mga balita. Mga tutorial. Maraming iba pa.</p>
    </hgroup>
  </header>
  <div class="section__body">
    <ol class="card-list">
      {% for post in collections.posts | reverse %}
        {% if loop.index <= 5 %}
          <li class="card-list__item">
            {% include "ui/article-card.njk" %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
</section>