---
title: 'Antares Programming'
permalink: /
---
<h1 class="sr-only">{{ title | safe }}</h1>
{% include "banners/latest-video.njk" %}
{% include "banners/announcement.njk" %}
<section class="section h-feed m-bottom--xxxl" aria-labelledby="section--articles">
  <header class="section__header">
    <hgroup role="group">
      <h2 class="section__title p-name" id="section--articles">Articles</h2>
      <p class="section__subtitle">Magbasa.</p>
      <p class="section__description">Mga bagong technology. Mga balita. Mga tutorial. Maraming iba pa.</p>
    </hgroup>
  </header>
  <div class="section__body">
    <ol class="card-list card-list--articles">
      {% for post in collections.posts | reverse %}
        {% if loop.index <= 5 %}
          <li class="card-list__item">
            {% include "ui/article-card.njk" %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
  <div class="section__footer">
    <div class="cluster jc--center">
      <a href="/articles/" class="primary button">Tingnan lahat ng articles</a>
      <a href="{{ site.feeds.articles.url }}" class="button">
        {{ "rss" | icon | safe }}
        <span class="sr-only">Atom feed ng lahat ng articles</span>
      </a>
    </div>
  </div>
</section>

{% if collections.videos.length > 0 %}
  <section class="section h-feed m-bottom--xxxl" aria-labelledby="section--videos">
    <header class="section__header">
      <hgroup role="group">
        <h2 class="section__title p-name" id="section--videos">Videos</h2>
        <p class="section__subtitle">Manood.</p>
        <p class="section__description">Mga coding tutorial at commentaries.</p>
      </hgroup>
    </header>
    <div class="section__body">
      <ol class="card-list card-list--videos">
        {% for post in collections.videos | reverse %}
          {% if loop.index <= 5 %}
            <li class="card-list__item">
              {% set cardType = "video" %}
              {% include "ui/article-card.njk" %}
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <div class="section__footer">
      <div class="cluster jc--center">
        <a href="/videos/" class="primary button">Tingnan lahat ng videos</a>
        <a href="{{ site.feeds.videos.url }}" class="button">
          {{ "rss" | icon | safe }}
          <span class="sr-only">Atom feed ng lahat ng videos</span>
        </a>
      </div>
    </div>
  </section>
{% endif %}