---
eleventyExcludeFromCollections: true
layout: null
permalink: /rss-videos.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% set preferredDomain = site.domains | selectattr('isPreferred') | first %}
  <title>{{ site.title }} Videos</title>
  <subtitle>{{ site.description }}</subtitle>
  <link rel="self" href="{{ preferredDomain.domain }}/rss-videos.njk"/>
  <updated>{{ generated }}</updated>
  <author>
    <name>{{ authors.teacherbuknoy.name }}</name>
    <email>{{ authors.teacherbuknoy.email }}</email>
    <uri>{{ authors.teacherbuknoy.url }}</uri>
  </author>
  <id>{{ preferredDomain.domain }}/</id>
  <category term="videos"/>
  <icon>{{ preferredDomain.domain }}/assets/root/favicon.svg</icon>
  <rights>ⓒ {{ "" | year }} Francis Rubio</rights>

  {% for post in collections.videos %}
    {% set absolutePostUrl %}{{ post.data.link.url }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      {% set person = authors[post.data.author] %}
      <author>
        <name>{{ person.name }}</name>
        {% if person.url %}
          <uri>{{ person.url }}</uri>
        {% endif %}
        {% if person.email %}
          <email>{{ person.email }}</email>
        {% endif %}
      </author>
      {% if post.data.tags and post.data.tags.length > 0 %}
        {% for tag in post.data.tags %}
          <category term="{{ tag }}"/>
        {% endfor %}
      {% endif %}

      {% if post.data.contributors and post.data.contributors.length > 0 %}
        {% for contributor in post.data.contributors %}
          {% set person = authors[contributor] %}
          <contributor>
            <name>{{ person.name }}</name>
            {% if person.url %}
              <uri>{{ person.url }}</uri>
            {% endif %}
            {% if person.email %}
              <email>{{ person.email }}</email>
            {% endif %}
          </contributor>
        {% endfor %}
      {% endif %}
      <content type="html">{{ post.data.description | htmlToAbsoluteUrls(absolutePostUrl) | safe }}</content>
    </entry>
  {% endfor %}
</feed>