@import "base/utils";
@import "base/reset";
@import "base/webfonts";
@import "base/config";
@import "base/themes";

@import "layouts/article.scss";
@import "layouts/cluster.scss";
@import "layouts/code.scss";
@import "layouts/footer.scss";
@import "layouts/section.scss";
@import "layouts/stack.scss";
@import "layouts/sidebar.scss";
@import "layouts/grid.scss";

@import "components/author.scss";
@import "components/banner.scss";
@import "components/breadcrumb.scss";
@import "components/button.scss";
@import "components/callout.scss";
@import "components/card.scss";
@import "components/code-sample.scss";
@import "components/form-control.scss";
@import "components/links.scss";
@import "components/logo.scss";
@import "components/modal.scss";
@import "components/navigation.scss";
@import "components/pagination.scss";
@import "components/skip-link.scss";
@import "components/tag-scroller.scss";

@import "utils/alignments.scss";
@import "utils/fonts.scss";
@import "utils/space.scss";
@import "utils/visibility.scss";
@import "utils/unstyled.scss";

:root {
  scroll-padding: 20vh;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  font-family            : var(--font-sans);
  background-color       : hsl(var(--bg-default));
  color                  : hsl(var(--fg-default));
  scroll-margin          : 5vh;
  font-variation-settings: 'wght' 300, 'SOFT' 100;
}

pre,
code,
samp,
var {
  font-family: var(--font-code);
}

::selection {
  background-color: hsl(var(--primary-100));
}

:is([hidden]) {
  display: none;
}

i,
em,
cite {
  font-family: var(--font-serif);
}

strong,
b {
  font-weight            : 700;
  font-variation-settings: 'wght'700;
}

abbr {
  cursor: help;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;

  main {
    flex: 1;
  }

  p {
    margin: 0;
  }
}

mark {
  display         : inline-block;
  line-height     : 1.2;
  padding-inline  : 0.25ch;
  margin-inline   : -0.25ch;
  border-radius   : var(--radius-1);
  background-color: hsl(var(--l-warning-500) / 50%);
  color           : inherit;
}

a:not(.no-arrow)[target="_blank"]::after {
  align-self         : baseline;
  content            : "🡥";
  margin-inline-start: auto;
  font-size          : var(--type-size-7);
  vertical-align     : middle;
  align-items        : center;
}