@import "base/utils";
@import "base/reset";
@import "base/webfonts";
@import "base/config";
@import "base/themes";

@import "layouts/article.scss";
@import "layouts/code.scss";
@import "layouts/footer.scss";
@import "layouts/section.scss";

@import "components/author.scss";
@import "components/button.scss";
@import "components/breadcrumb.scss";
@import "components/card.scss";
@import "components/code-sample.scss";
@import "components/form-control.scss";
@import "components/links.scss";
@import "components/logo.scss";
@import "components/navigation.scss";
@import "components/skip-link.scss";

@import "utils/fonts.scss";
@import "utils/space.scss";
@import "utils/visibility.scss";

:root {
  scroll-padding : 10vh;
  scroll-behavior: smooth;
}

body {
  font-family     : var(--font-sans);
  background-color: hsl(var(--bg-default));
  color           : hsl(var(--fg-default));
  scroll-margin   : 5vh;
  font-variation-settings: 'wght' 300;
}

pre,
code,
samp,
var {
  font-family: var(--font-code);
}

::selection {
  background-color: hsl(var(--primary-100));
}

:is([hidden]) {
  display: none;
}

i,
em,
cite {
  font-family: var(--font-serif);
}

abbr {
  cursor: help;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;

  main {
    flex: 1;
  }

  p {
    margin: 0;
  }
}