@import "base/utils";
@import "base/reset";
@import "base/webfonts";
@import "base/config";
@import "base/themes";

@import "components/button.scss";
@import "components/form-control.scss";
@import "components/links.scss";
@import "components/logo.scss";
@import "components/navigation.scss";
@import "components/skip-link.scss";

@import "utils/fonts.scss";
@import "utils/visibility.scss";

body {
  font-family     : var(--font-sans);
  background-color: hsl(var(--bg-default));
  color           : hsl(var(--fg-default));
}

pre,
code,
samp,
var {
  font-family: var(--font-code);
}

::selection {
  background-color: hsl(var(--primary-100));
}

:is([hidden]) {
  display: none;
}