<article class="guide__code__entry" id="code-3">
  <div class="guide__headerbar">
    <a class="guide__navigation previous" href="#code-2">
      <span class="sr-only">Previous</span>
      {{ "chevron-left" | icon | safe }}
    </a>
    <h2 class="guide__heading">Absolute Position</h2>
    <a class="guide__navigation next" href="#code-4">
      <span class="sr-only">Next</span>
      {{ "chevron-right" | icon | safe }}
    </a>
  </div>
  <p>Nakabase ang coordinate system nito sa pinakamalapit na container nito na hindi static ang position.</p>
  <div class="code-sample">
    {% renderTemplate "md" %}
```html
<div class="container">
<div class="element"></div>
</div>
```
```css
.container {
position: relative;
}

.element {
position: absolute;
top: 50px;
left: 50px;
}
```
  {% endrenderTemplate %}
  </div>
</article>